@charset "utf-8";

/*------------------------------------------------------------------
  [Table of contents]
  * To keep an overview of structure of your code, we make use of table of 
  * content. Table of content is use display the overall tree structure of your
  * Layout. 
  * (NOTE: Remove this commented code once you start developing the code.
  * Remove the following table of content and add your own as this is just and 
  * example to let you know)

  1. CSS Reset Code
    1.1. Eric Meyers Reset/HTML5 display-role reset for older browsers
    1.2. Clear Fix
    1.3. Font class declaration
  2. Body
  3. Header / .header
    2.1. Navigation / .navbar
  4. Content / .content
    4.1. Left column / .leftcolumn
    4.2. Right column / .rightcolumn
    4.3. Sidebar / .sidebar
      4.3.1. RSS / .rss
      4.3.2. Search / .search
      4.3.3. Boxes / .box
      4.3.4. Sideblog / .sideblog
      4.3.5. Advertisements / .ads
  5. Footer / .footer
  ------------------------------------------------------------------*/

/*------------------------------------------------------------------
  [Color codes]
  * Mention the color code you have used in your html document for the respective
  * elements given as follow. 
  * (NOTE: Remove this commented code once you start developing the code. 
  * Remove the following color code and add your own as this is just and 
  * example to let you know)

  Header nav: #e5e5df (Cararra)
  Header nav a (hover): #fff (white)
  Header nav a (active): #fff (white)
-------------------------------------------------------------------*/

/*------------------------------------------------------------------
  [Typography]
  * Mention the Typography you have used in your html document for the respective
  * elements given as follow.
  * (NOTE: Remove this commented code once you start developing the code. 
  * Remove the following typography and add your own as this is just and 
  * example to let you know)

  Header nav a: 16px 'Futura Bold', 'Gill Sans', Arial, 'Helvetica Neue', Helvetica, sans-serif;
  View-register li a : 12px 'Futura Bold', 'Gill Sans', Arial, 'Helvetica Neue', Helvetica, sans-serif;
  -------------------------------------------------------------------*/

/* ==========================================================================
   1. CSS Reset Code
   ========================================================================== */

/* 1.1. Eric Meyers Reset
   http://meyerweb.com/eric/tools/css/reset/
   v2.0 | 20110126
   License: none (public domain)
   ========================================================================== */
html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p,
blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img,
ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center,
dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody,
tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure,
figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}

/* Force scrollbar */
html { overflow-y: scroll; }

/* Align radios and text inputs with their label */

input[type='radio'] { vertical-align: text-bottom; }

/* Hand cursor on clickable input elements */
label,
input[type='button'],
input[type='submit'],
button {
  cursor: pointer;
}

strong {
  font-weight: bold;
  font-family: inherit;
  font-size: inherit;
}

em { font-style: italic; }

img {
  border: 0;
  vertical-align: middle;
}

sub,
sup {
  vertical-align: baseline;
  position: relative;
  font-size: 55%;
  line-height: 0;
}

sup { top: -.7em; }

sub { bottom: -.25em; }

/* 1.2. Clear Fix
   ========================================================================== */

.cf:before,
.cf:after {
  display: table;
  content: " ";
}

.cf:after { clear: both; }

.cf { *zoom: 1; }

/* 1.3. Font class declaration
   ========================================================================== */
/*
 * Mention the font property (eg: font-family, font-size, font-weight, font-style
 * etc) that have been commonly used in the html document. Make a class of it and
 * apply to the element wherever it is needed. If any single property in changed,
 * then override only that property in the particular class which is used for the
 * element.
 * (NOTE: Remove this commented code once you start 
 * developing the code. Remove the following font class and add your own
 * as this is just and example to let you know. If there is only one font family
 * followed throughout the site, then menstion the font property in body. No need
 * of creating an extra class for it) */

.futura-bold-font {
  font-family: 'Futura Bold', 'Gill Sans', Arial, 'Helvetica Neue', Helvetica, sans-serif;
  font-style: normal;
  font-weight: bold;
}


/* ==========================================================================
   common styling starts
   ========================================================================== */

  :root {
    --main-color: #fff;
    --secondary-color: #8dcfa5;
  }
  
  body { 
    background-color: #1f1f1f; 
    font-family: poppins, sans-serif;
  }
  
  .wrapper { 
    width: 75.09%;
    max-width: 1349px;
    margin: 0 auto;
    border-bottom: 1px solid #2A2A2A;
  }

  ul { list-style: none; }
  
  a { 
    text-decoration: none; 
    color: var(--main-color);
  }

/* ==========================================================================
   common styling ends
   ========================================================================== */
/* ==========================================================================
   Header starts
   ========================================================================== */
  header { width: 100%; }

  header .wrapper { 
    display: -webkit-box; 
    display: -ms-flexbox; 
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    text-transform: uppercase;
  }

  .logo, nav { width: 50%; }

  .logo {
    margin: 35px 0 30px 0;
    color:  var(--main-color);
    font-size: 33px;
    font-weight: bold;
    letter-spacing: 0.5px;
  }

  .navbar { width: 100%; }

  .navbar {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: end;
    -ms-flex-pack: end;
    justify-content: flex-end;
    font-size: 11px;
    letter-spacing: 2px;
  }

  .menu {
    padding: 15px 0;
    margin-left: 8.48%;
    position: relative;
  }

  .menu-link { padding: inherit; }

  .menu-link:hover::after,
  .menu-link.active::after {
    content: '';
    width: 85%;
    position: absolute;
    bottom: 0;
    left: 50%;
    -webkit-transform: translateX(-50%);
    -ms-transform: translateX(-50%);
    transform: translateX(-50%);
    border: 2px solid var(--secondary-color);
  }

  .burger { display: none; }

  .burger div {
    width: 20px;
    height: 3px;
    border-radius: 50px;
    margin: 3px;
    background: #fff;
    -webkit-transition: all 0.3s ease;
    -o-transition: all 0.3s ease;
    transition: all 0.3s ease;
  }

  .navtoggle .line:first-child { 
    -webkit-transform: rotate(-45deg) translate(-3px,5.5px); 
    -ms-transform: rotate(-45deg) translate(-3px,5.5px); 
    transform: rotate(-45deg) translate(-3px,5.5px); 
  }

  .navtoggle .line:nth-child(2) { opacity: 0; }

  .navtoggle .line:nth-child(3) { 
    -webkit-transform: rotate(45deg) translate(-3px,-5.5px); 
    -ms-transform: rotate(45deg) translate(-3px,-5.5px); 
    transform: rotate(45deg) translate(-3px,-5.5px); 
  }
/* ==========================================================================
   Header ends
   ========================================================================== */
/* ==========================================================================
   Main starts
   ========================================================================== */

  /*---------------------- wallpaper gallery starts-------------------------- */
  
  .wallpaper-gallery { width: 100%; }
  .wallpaper-gallery .wrapper { padding: 23px 0 36px 0; }

  .gallery-navbar, .grid-image-gallery { 
    display: -webkit-box; 
    display: -ms-flexbox; 
    display: flex; 
  }

  .gallery-navbar-menu-link {
    padding: 6px 11px;
    margin: 0 6px 21px 0;
    font-size: 11px;
    -webkit-transition: .3s ease-in;
    -o-transition: .3s ease-in;
    transition: .3s ease-in;
  }

  .gallery-navbar-menu-link:hover,
  .gallery-navbar-menu-link.active { background: var(--secondary-color); }

  .grid-image-gallery { 
    width: 100%;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -ms-flex-direction: row;
    flex-direction: row;
  }

  .grid-image-gallery .image-container { width: calc(254px - 1px); }

  .grid-image-gallery img {
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
  }
  /*---------------------- wallpaper gallery ends ------------------------- */

  /*---------------------- site information starts ------------------------ */

  .site-information { width: 100%; }

  .site-information .wrapper { 
    display: -webkit-box; 
    display: -ms-flexbox; 
    display: flex;
    padding-top: 30px;
  }

  .site-information .wrapper > div { 
    -webkit-box-flex: 1; 
    -ms-flex: 1; 
    flex: 1; 
  }

  .headline {
    margin-bottom: 21px;
    color: #eaeaea;
    font-size: 14px;
    font-weight: bold;
    letter-spacing: 1px;
    text-transform: uppercase;
  }

  /*------ TEXT WIDGET ------ */

  .widget > p {
    margin-bottom: 21px;
    color: #c1c1c1;
    font-size: 11px;
  }

  /*------ RECENT POSTS ------ */
  .recent-posts { margin: 0 25px; }
  .post:not(:last-child) { border-bottom: 1px solid #2A2A2A; }
  .post:not(:first-child) { padding-top: 9px; }

  .post {
    padding-bottom: 9px;
    color: #c1c1c1;
    font-size: 11px;
    cursor: pointer;
  }

  .post:hover { color: var(--main-color); }


  /*------ POPULAR TAGS ------ */
  .tags { margin: 0 25px; }

  .tag {
    padding: 6px 11px;
    margin: 0 3px 7px 0;
    display: inline-block;
    background: var(--secondary-color); 
    font-size: 11px;
    -webkit-transition: .3s ease-in;
    -o-transition: .3s ease-in;
    transition: .3s ease-in;
  }

  .tag:hover { background: #c1c1c1; }

  /*------ FLICKER GALERY ------ */

  .flicker-image-gallery { 
    width: 100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
  }

  .flicker-image-container {
    width: 52px;
    margin-bottom: 7px; 
    display: inline-block;
  }

  .flicker-image-container:last-child {
    margin-bottom: 38px;
  }

  .flicker-image-containe img {
    width: 100%;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
  }

  /*---------------------- site information ends ------------------------- */

/* ==========================================================================
   Main ends
   ========================================================================== */
/* ==========================================================================
   Footer starts
   ========================================================================== */

  footer { width: 100%; }
  
  footer .wrapper {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex; 
    -webkit-box-pack: justify; 
    -ms-flex-pack: justify; 
    justify-content: space-between;
  }

  .copy-right-text {
    margin: 14px 0;
    color: #c1c1c1;
    font-size: 10.5px;
  }

  .copy-right-text::before { content: '\00A9  '; }

  .media-icons { 
    display: -webkit-box; 
    display: -ms-flexbox; 
    display: flex; 
  }

  .media-icons a {
    width: 20px;
    height: 20px;
    border-radius: 50%;
    margin: 14px 0 14px 9px;
    background: var(--main-color);
    position: relative;
    color: #7c7c7c;
  }

  .media-icons span { 
    position: absolute;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    font-size: 9.5px; 
  }

/* ==========================================================================
   Footer ends
   ========================================================================== */

   @media screen and (max-width: 768px) {

    .burger {
      display: block;
      cursor: pointer;
    }

    .hide-menu { display: none; }
    
    .show-menu {
      width: 100%;
      background-color: rgba(0,0,0,0.8);
      position: absolute;
      left: 0;
      top: 90%;
      display: block;
      text-align: center;
    }
    
  }